@charset "UTF-8";
main.main div.review_container {
  margin-top: 75px;
  text-align: center;
}
main.main div.review_container h1.review_title {
  margin-inline: 6vw;
  border-top: 3px solid;
  padding: 10px 25px 0;
}
main.main div.review_container h2.add {
  font-style: italic;
}
main.main ul.reviews {
  margin-top: 75px;
  margin-inline: 17vw;
}
main.main ul.reviews hr.feed_sep {
  margin: 15px -60px;
  height: 100px;
  border-radius: 15px;
}
main.main ul.reviews li.review {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 3px dashed;
  border-bottom: 3px dashed;
}
main.main ul.reviews li.review div.person {
  padding-top: 12px;
  min-width: 50%;
  border: 5px solid;
  border-radius: 10px;
}
main.main ul.reviews li.review div.person img.person_face {
  height: 150px;
  border-radius: 50px;
}
main.main ul.reviews li.review div.person div.name_content {
  max-width: 85%;
  margin: 0 auto;
}
main.main ul.reviews li.review div.person div.name_content h3.name {
  letter-spacing: 3px;
  text-transform: uppercase;
  border-bottom: 2px solid;
}
main.main ul.reviews li.review div.person div.name_content h4.prof {
  padding-top: 3px;
  background-color: #aaaaaa;
}
main.main ul.reviews li.review div.feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  font-size: 16pt;
  padding: 10px 15px;
  font-weight: 600;
  min-height: 250px;
}
main.main ul.reviews li.review div.feedback div.content {
  text-align: justify;
}
main.main ul.reviews li.review div.feedback div.grade {
  font-weight: bolder;
  text-align: center;
  padding-top: 5px;
  text-align: left;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding-inline: 5px;
}
main.main ul.reviews li.review div.feedback div.grade::after {
  content: "✦";
}
main.main ul.reviews li.review:nth-of-type(odd) {
  flex-direction: row-reverse;
}
main.main ul.reviews li.review:nth-of-type(odd) div.feedback div.grade {
  text-align: right;
}

@media screen and (min-width: 1500px) {
  main.main ul.reviews {
    margin-inline: 25px !important;
  }
  li.review {
    font-size: 20pt;
  }

  div.feedback {
    width: 85% !important;
    min-height: 360px;
  }
  div.feedback div.content {
    font-size: 24pt;
  }
  div.feedback div.grade {
    font-size: 24pt;
  }

  div.person {
    width: 50% !important;
    margin: 15px 0;
  }

  img.person_face {
    height: 250px !important;
  }
}
@media screen and (max-width: 900px) {
  ul.reviews {
    margin-inline: 20px !important;
  }
}
@media screen and (max-width: 700px) {
  h1.review_title {
    text-align: justify;
  }

  h2.add {
    margin-inline: 15px;
  }

  hr.feed_sep {
    margin: 15px 0px !important;
  }

  li.review {
    flex-direction: column !important;
    justify-content: flex-start;
  }
  li.review div.person {
    margin: 25px 10px 10px !important;
    width: 100%;
  }
  li.review div.feedback {
    display: block !important;
    width: 100% !important;
    min-height: 10px !important;
  }
}/*# sourceMappingURL=review.css.map */
