main.main {

    div.catalog_container {
        margin-top: 75px;
        text-align: center;
        margin-inline: 25px;

        h1.catalog_title {
            border-top: 3px solid;
            padding-inline: 25px;
            padding-top: 5px;
            margin-inline: 6vw;
        }

        h2.add {
            margin: 5px 12vw 15px;
            border-left: 3px dashed;
            border-right: 3px dashed;
            padding-top: 5px;
            padding-inline: 10px;
        }

        // div.moto_slider {}

        // div.halmet_slider {}

        // div.attr_clider {}

        h3.slider_title {
            margin: 0 auto;
            margin-top: 75px;
            margin-bottom: 5px;
            font-size: 18pt;
            font-weight: bolder;
            letter-spacing: 2px;
            text-align: center;

            display: flex;
            justify-content: center;
            align-items: center;

            border: 2px solid;
            padding-top: 5px;
            margin-inline: 22vw;
            border-radius: 5px;

        }

        div.catalog_slider {
            margin: 0 auto;
            padding: 25px 0;
            text-align: center;
            margin-inline: 15vw;
            display: flex;
            flex-direction: row;
            background-color: #aaaaa0;
            border-radius: 15px;
            // height: fit-content;
            justify-content: center;
            // align-items: center;


            .slick-arrow {
                opacity: 0.8;
                border: none;
                background: none;
                font-size: 10vw;
            }
        }

        div.inner_buy {
            padding-inline: 10vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;



            img.product {
                height: 25vw;
                border-radius: 15px;
            }

            div.desc {
                padding: 10px 0;

                // font-size: 1.5vw;
                h3.bike {
                    // text-align: center;
                    font-size: 1.4vw;
                    text-transform: uppercase;
                    padding-top: 5px;
                    padding-inline: 3vw;
                    margin-top: 7px;
                    border-left: 3px solid;
                    border-right: 3px solid;
                }

                p.price {
                    font-size: 1.3vw;
                    margin: 0 auto;
                    padding-top: 5px;
                    width: fit-content;
                    border-top: 3px dashed;
                    margin-top: 10px;
                    font-weight: 600;
                }

                p.price::after {
                    content: "\20BD\20BD";
                }
            }

            button.buy {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding-top: 1vh;
                font-size: 1.5vw;
                margin-top: 5px;
                // font-size: 14pt;
                font-weight: bold;
                width: 30vw;
                letter-spacing: 3px;
                border-radius: 5px;
            }
        }


        // div.add_buy_info {}

    }
}


@media screen and (max-width: 700px) {
    div.catalog_container {

        .slick-arrow {
            font-size: 45pt !important;
        }

        h1.catalog_title {
            text-align: justify;
            font-size: 18pt;
        }

        h3.slider_title {
            margin-inline: 35px !important;
        }

        div.catalog_slider {
            margin-inline: 15px !important;
        }

        div.inner_buy {
            img.product {
                height: 150px !important;
            }

            div.desc {

                h3.bike {
                    font-size: 12pt !important;
                    padding-inline: 3px !important;
                }

                p.price {
                    font-size: 10pt !important;
                }
            }

            button.buy {
                font-size: 12pt !important;
            }
        }
    }
}