main.main {

    div.company_container {
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-inline: 10vw;


        div.company_desc {
            width: 100%;

            h1.company_title {
                border-top: 3px solid;
                padding-top: 5px;
                padding-inline: 15px;
            }

            h2.add {
                padding-top: 5px;
                background-color: #aaaaaa;
            }
        }

        div.company_map {
            margin-top: 20px;
            display: flex;
            flex-direction: row;

            .map {
                border-radius: 15px;
                width: 50%;
            }

            ul.company {
                margin-left: 25px;
                width: 45%;

                hr.desc_sep {
                    height: 12px;
                }

                li.desc {
                    text-align: left;
                    font-size: 16pt;
                    font-weight: 600;
                    border-left: 3px solid;
                    padding-left: 5px;
                    padding-top: 10px;

                }

            }

        }

        div.add_desc {
            margin-top: 125px;

            h1.add_title {
                border-top: 3px solid;
                padding-top: 5px;
                padding-inline: 15px;
            }

            ul.add_company {
                border: 3px solid;
                border-top: none;
                padding: 15px;
                align-items: center;
                margin-inline: 10vw;


                hr.add_sep {
                    margin: 15px 0;
                    height: 10px;
                    border-radius: 10px;
                }
            }

            li.add_desc {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;

                h3.add_desc_text {
                    text-align: left;
                    font-size: 16pt;
                    margin: 2px;
                    padding: 10px 5px 0;
                    text-transform: uppercase;
                    border-right: 3px dashed;
                }

                h3.add_desc_text:nth-of-type(odd) {
                    text-align: right;
                    border-left: 3px dashed;
                    border-right: none;
                }
            }
        }
    }
}


@media screen and (max-width: 800px) {
    h1.company_title {
        text-align: justify;
    }

    div.company_map {
        flex-direction: column !important;
        width: 100%;

        .map {
            margin: 0 auto;
            width: 90% !important;
            margin-bottom: 10px;
        }

        ul.company {
            margin-inline: 25px;
            width: 95% !important;
        }
    }

    h1.add_title {
        text-align: justify;
    }

    ul.add_company {
        margin-inline: 15px !important;
    }
}