header.header {
    background: url("../img/head.png") no-repeat;
    background-size: cover;
    align-items: center;
    padding-inline: 10vw;

    border-bottom: 2px solid #f3f3f3;

    div.head {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #f3f3f3;

        // flex-wrap: wrap;


        div.logo_img {
            margin: 10px 0 0 0;

            img.logo {
                width: 120px;
                height: 60px;
                border-radius: 10px;
            }
        }

        ul.inner_navigate {
            display: flex;
            flex-direction: row;

            li.nav_link {
                padding: 15px;
                padding-bottom: 10px;

                a.link {
                    font-size: 16pt;
                    text-transform: uppercase;
                }
            }

            li.nav_link+li.nav_link {
                margin-left: 15px;
            }

            li.nav_link:hover {
                border-radius: 10px;
                background-color: #f3f3f3;

                a.link {
                    color: #131313;
                }
            }

        }

        div.search {
            margin-bottom: 10px;
            border-left: 2px solid;
            align-items: center;
            padding: 10px 0px 10px 15px;
            display: flex;

            input.to_search {
                width: 128px;
                border-radius: 5px;
                padding-top: 5px;
            }

            button.make_search {
                margin-left: 3px;
                background-color: rgba($color: #000000, $alpha: 0.5);
                border: 1px solid;
                border-radius: 5px;
                padding-top: 5px;
                letter-spacing: 3px;
                color: #f3f3f3;
            }
        }
    }
}