@import "./normalize.css";

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
